name: Vercel Production Deployment

env:
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  POSTGRES_PRISMA_URL: ${{ secrets.POSTGRES_PRISMA_URL }}
  POSTGRES_URL_NON_POOLING: ${{ secrets.POSTGRES_URL_NON_POOLING }}
  NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
  RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
  GMAIL_USER: ${{ secrets.GMAIL_USER }}
  GMAIL_APP_PASSWORD: ${{ secrets.GMAIL_APP_PASSWORD }}
  NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
on:
  push:
    branches:
      - main

jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Pull vercel environment variables
        run: vercel pull --yes --environment production --token $VERCEL_TOKEN

      - name: Run Prisma Migrate
        run: npx prisma migrate deploy
        env:
          POSTGRES_PRISMA_URL: $POSTGRES_URL_NON_POOLING

      - name: Build project artifacts
        run: vercel build --prod --token $VERCEL_TOKEN

      - name: Deploy project artifacts
        run: vercel deploy --prebuilt --prod --token $VERCEL_TOKEN --confirm